:root{
    --branco: #f1efec;
    --bege: #d4c9be;
    --azul: #123458;
    --preto: #030303

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

input, button, a, select{
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--azul);

}

.cadastro-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: var(--branco);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30rem;
    height: 32rem;
    position: relative;
    gap: 10px;
    margin: 13rem;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;

}

.cadastro-container i{
    color: inherit;

}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.back-arrow {
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--azul);
    color: var(--branco);
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;

}

.back-arrow:hover {
    opacity: 90%;
    transform: scale(1.1);

}

.input-field, .select-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;

}

.input-field:focus, .select-field:focus{
    outline: none;

}

.cadastro-button {
    width: 100%;
    padding: 10px;
    border: none;
    background: var(--azul);
    color: var(--branco);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
    font-size: 20px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.cadastro-button:hover {
    opacity: 95%;

}

.cadastro-button:active {
    transform: scale(0.95);

}

.login-link {
    text-decoration: none;
    color: var(--preto);
    font-size: 14px;

}

.login-link2{
    text-decoration: none;
    color: var(--azul);
    font-size: 14px;

}

.login-link2:hover {
    text-decoration: underline;

}

.linkLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.linkLogin a, .login-link2{
    font-size: 20px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.name, .email, .genero, .senha{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;

}

.imgCadastro img{
    height: 20rem;

}

.imgCadastro{
    padding: 10rem;

}

.body{
    display: flex;
    justify-content: center;
    align-items: center;

}