:root{
    --branco: #f1efec;
    --bege: #d4c9be;
    --azul: #123458;
    --preto: #030303

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    gap: 15rem;
    align-items: center;
    height: 100vh;
    background-color: var(--azul);

}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30rem;
    height: 20rem;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.back-arrow {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 50%;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}
.back-arrow:hover {
    background-color: var(--azul);
    transform: scale(1.2);
}
.input-field {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.input-field:focus{
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--azul);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background 0.3s ease-in-out;
}
.login-button:hover {
    background: #0D3B66;
}
.login-button:active {
    transform: scale(0.95);
}
.register-link{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.register-link2:hover {
    text-decoration: underline;
}

.register-link2{
    text-decoration: none;
    color: #145DA0;
    font-size: 14px;
}

.linkRegister{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.name, .senha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: none;
    border-bottom: 1px solid var(--branco);
    margin: 15px 0;
}

.img-login img{
    height: 20rem;
}