:root{
    --branco: #f1efec;
    --bege: #d4c9be;
    --azul: #123458;
    --preto: #030303

}

*{
    padding: 0px;
    margin: 0px;

}

body{
    display: flex;
}

.sideBar{
    height: 100vh;
    max-width: 40vh;
    width: 40vh;
    padding: 10px;
    background-color: var(--azul);
    color: var(--branco);
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonHeader i{
    cursor: pointer;
    font-size: 20px;
}

.header button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    cursor: pointer;
    
}
.buttonUser{
    width: 10rem;
    height: 5rem;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: var(--branco);

}

.sectionLink{
    display: flex;
    flex-direction: column;
    color: inherit;
    gap: 20px;

}

.sectionLink a{
    margin-left: 10px;
    width: 8rem;
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;

}

.sectionLink a i{
    margin-right: 11px;
}

.section{
    background-color: purple;
    width: 100%;
    display: flex;
    justify-content: center;

}
.sectionContent{
    width: 80%;
    padding: 20px;
    background-color: red;
}