@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

:root {
    --branco: #f1efec;
    --azul: #123458;
    --preto: #030303;
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--branco);
    color: var(--preto);
}

.sidebar {
    width: 250px;
    background-color: var(--azul);
    color: var(--branco);
    padding-top: 20px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    position: relative;
}

.sidebar a {
    color: var(--branco);
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #0e2b45; /* um tom mais escuro que var(--azul) */
}

.sidebar .active-link {
    background-color: #0e2b45;
}

.sidebar .text-center {
    padding: 10px;
}

.sidebar-brand {
    font-family: "Rubik Bubbles", system-ui;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 10px 10px;
    color: #ffffffaa;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--azul);
    border-top: 1px solid #0e2b45;
}

.content {
    margin-left: 250px;
    padding: 30px;
    flex-grow: 1;
    background-color: var(--branco);
    color: var(--preto);
}

.content-section {
    display: block;
}

.d-none {
    display: none !important;
}
